{% import "data/homepage.twig" as homepage %}

<section class="homepage-menu" id="menu" data-section="menu">
    <div class="container container--bordered">
        <div class="homepage-menu__inner">
            <div class="homepage-menu__body">
                <div class="mobile-select">
                    <button class="mobile-select__current-val">
                        <span class="mobile-select__main">{{  homepage.sections.menu[0].tab }}</span>
                        <span class="mobile-select__icon arrow-icon">{% include "svg/_tab-arrow-down.twig" %}</span>
                    </button>
                    <ul class="mobile-select__list">
                        {% for item in homepage.sections.menu %}
                            <li class="mobile-select__item">{{ item.tab }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="border-decoration homepage-menu__tabs-wrapper">
                    <div class="border-decoration__elem border-decoration__elem--left"></div>
                    <div class="homepage-menu__tabs">
                        {% for item in homepage.sections.menu %}
                            <button
                                    class="homepage-menu__tab text-center line-height-fix {% if loop.first %} homepage-menu__tab--active {% endif %}"
                            >
                                {{ item.tab }}
                            </button>
                        {% endfor %}
                    </div>
                    <div class="border-decoration__elem border-decoration__elem--right"></div>
                </div>
                <div class="homepage-menu__text text-center">
                    <div class="homepage-menu__text-slider swiper-container">
                        <div class="swiper-wrapper">
                            {% for item in homepage.sections.menu %}
                                <div class="homepage-menu__item swiper-slide">
                                    <div class="homepage-menu__info">{{ item.info }}</div>
                                    <h2 class="homepage-menu__title secondary-title">{{ item.title }}</h2>
                                    <div class="cms-container homepage-menu__description body-2">
                                        <p>{{ item.description }}</p>
                                    </div>
                                    <div class="homepage-intro__spacer">
                                        {% include "svg/_spacer.twig" %}
                                    </div>
                                    <a href="" class="homepage-menu__show-menu primary-subtitle">{{ item.subtitle }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-slider">
                <div class="menu-slider__list swiper-container">
                    <div class="swiper-wrapper">
                        <div class="menu-slider__item swiper-slide">
                            <img class="menu-slider__img" src="./img/menu-photo.jpg" alt="">
                        </div>
                        <div class="menu-slider__item swiper-slide">
                            <img class="menu-slider__img" src="./img/menu-photo.jpg" alt="">
                        </div>
                        <div class="menu-slider__item swiper-slide">
                            <img class="menu-slider__img" src="./img/menu-photo.jpg" alt="">
                        </div>
                        <div class="menu-slider__item swiper-slide">
                            <img class="menu-slider__img" src="./img/menu-photo.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="menu-slider__mask">
                    {% include "svg/_menu-slider-mask.twig" %}
                </div>
            </div>
            <div class="menu-slider__pagination"></div>
        </div>
    </div>
</section>
