{% import "data/homepage.twig" as homepage %}

<section class="homepage-reservation">
    <div class="container container--bordered">
        <div class="homepage-reservation__inner">
            <div class=" card card--default">
                <div class="card__inner">
                    <div class="homepage-reservation__card text-center">
                        <h2 class="primary-title">{{ homepage.sections.reservation.title }}</h2>
                        <p class="homepage-reservation__description body-1">{{ homepage.sections.reservation.description }}</p>
                        <div class="homepage-reservation__more">
                            <button class="homepage-reservation__more-btn subtitle">{{ homepage.sections.reservation.viewMore }}</button>
                            <div class="homepage-reservation__details primary-border">
                                <p class="body-1">{{ homepage.sections.reservation.details }}</p>
                            </div>
                        </div>
                        <form class="reservation-form">
                            <input type="text" class="reservation-form__item form__input" placeholder="Select a date*">
                            <input type="text" class="reservation-form__item form__input" placeholder="Time*">
                            <input type="text" class="reservation-form__item form__input" placeholder="N of people*">
                            <div class="reservation-form__item border-decoration">
                                <div class="border-decoration__elem border-decoration__elem--left"></div>
                                    <button class="btn" type="submit">{{ homepage.sections.reservation.button }}</button>
                                <div class="border-decoration__elem border-decoration__elem--right"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
